<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>info.java.study.Login</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>info.java.study.SearchServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>bean</servlet-name>
		<servlet-class>info.java.study.bean</servlet-class>
    </servlet>

    <servlet>
		<servlet-name>Enter_char_judge</servlet-name>
		<servlet-class>info.java.study.Enter_char_judge</servlet-class>
    </servlet>

    <servlet>
		<servlet-name>ThreadEdit</servlet-name>
		<servlet-class>info.java.study.ThreadEdit</servlet-class>
    </servlet>

    <servlet>
		<servlet-name>CommentEdit</servlet-name>
		<servlet-class>info.java.study.CommentEdit</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bean</servlet-name>
		<url-pattern>/bean</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Enter_char_judge</servlet-name>
		<url-pattern>/Enter</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>ThreadEdit</servlet-name>
		<url-pattern>/ThreadEdit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CommentEdit</servlet-name>
		<url-pattern>/CommentEdit</url-pattern>
	</servlet-mapping>
</web-app>